.User {
}

.User .user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.User .user-header .user-change {
  display: flex;
  column-gap: 10px;
}

.User .user-header .user-change a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s;
}

.User .user-header .user-change a:hover {
  /* color: #e3c800; */
  color: #f1d500;
}

.User .user-property {
  font-size: 18px;
  display: block;
  margin: 10px 0;
}

.User .user-posts-header {
  margin-bottom: 10px;
}

.User .update-user-form {
  position: absolute;
  left: 0;
  right: 0;
  top: -999px;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  z-index: 99999;
}

.User .update-user-form.active {
  top: 0;
}

.User .update-user-form .input-form {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  border-radius: 35px;
  border: 3px solid #ffe300;
  transition: top 0.6s;
  top: -999px;
}

.User .update-user-form .input-form.active {
  top: 0;
}

.User .update-user-form .form-title {
  margin-bottom: 20px;
}

.User .update-user-form .closer {
  color: gray;
  font-weight: 100;
  margin: 0 5px;
  cursor: pointer;
  user-select: none;
}

.User .update-user-form input {
  width: 400px;
  height: 50px;
  display: block;
}
