.UsersList {
  margin-top: 10px;
}

.UsersList .header {
  font-weight: bold;
}

.UsersList a {
  color: black;
  text-decoration: none;
}

.UsersList .User:hover {
  background-color: #dcdcdc;
}

.UsersList .User,
.UsersList .header {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 15% 15%;
  min-height: 40px;
  border-bottom: 1px solid gray;
  align-items: center;
}

.UsersList .User .date,
.UsersList .header .date,
.UsersList .User .id,
.UsersList .header .id {
  text-align: center;
}
