.Comment {
  margin-top: 15px;
}

.Comment .header {
  display: flex;
  justify-content: space-between;
}

.Comment .header a {
  position: relative;
  color: black;
  text-decoration: none;
}

.Comment .header a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffe300;
  transition: width 0.3s;
}

.Comment .header a:hover::after {
  width: 100%;
}

.Comment .header .comment-change {
  display: flex;
  column-gap: 10px;
}

.Comment .header .comment-change a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s;
}

.Comment .header .comment-change a:hover::after {
  width: 0;
}

.Comment .header .comment-change a:hover {
  /* color: #e3c800; */
  color: #f1d500;
}

.Comment .content {
  white-space: pre-wrap;
}
