* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*::selection {
  background-color: #ffe300;
}

.App {
  min-width: 700px;
  width: 60%;
  margin: auto;
}

.App .App-header {
  padding: 30px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 5px solid #ffe300;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.App .App-header .logo {
  width: 33%;
}

.App .App-header .nav-bar {
  display: flex;
  column-gap: 10px;
  justify-content: space-around;
  width: 33%;
}

.App .App-header .log {
  display: flex;
  column-gap: 10px;
  justify-content: space-around;
  width: 33%;
}

.App .App-header .logo h1,
.App .App-header .logo a {
  font-size: 40px;
  display: inline;
  color: black;
  text-decoration: none;
}

.App .App-header a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.App .App-header a:hover {
  color: #f1d500;
}

.App .posts {
  margin-top: 30px;
}
