.posts > h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.Home .input-field {
  display: block;
  width: 100%;
  height: 200px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 24px;
  border-bottom: 3px solid gray;
  transition: border 0.3s;
  resize: vertical;
  margin-bottom: 10px;
}

.Home .input-field:hover,
.Home .input-field:focus {
  border-bottom: 3px solid #ffe300;
}

.Home #input-submit {
  position: relative;
  float: right;
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 3px;
}

/* .Home input.input-submit::after {
  content: '*********';
  position: absolute;
  top: 10px;
  left: 0;
  width: 0;
  height: 25px;
  background-color: #ffe300;
  z-index: 99999;
}
.Home input.input-submit:hover::after {
  width: 100%;
} */

.Home #input-submit:hover {
  background-color: #ffe300;
}
