.SinglePost {
  margin-bottom: 10px;
}

.SinglePost .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SinglePost .date {
  color: gray;
}

.SinglePost .post-header .username {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: bold;
}

.SinglePost .post-header a {
  position: relative;
  color: black;
  text-decoration: none;
  transition: border-width 0.3s;
  border-bottom: 3px solid #ffe300;
  border-width: 0;
}

.SinglePost .post-header a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffe300;
  transition: width 0.3s;
}

.SinglePost .post-header a:hover::after {
  width: 100%;
}

.SinglePost .service {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.SinglePost .service .post-name {
  margin-bottom: 5px;
  text-align: right;
}

.SinglePost .service .post-change {
  display: flex;
  column-gap: 10px;
}

.SinglePost .service .post-change a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s;
}

.SinglePost .service .post-change a:hover {
  /* color: #e3c800; */
  color: #f1d500;
}

.SinglePost .service .post-change a:hover::after {
  width: 0;
}

.SinglePost .content {
  padding: 20px 0;
  border-bottom: 1px solid rgb(183, 183, 183);
}

.SinglePost .content p {
  font-size: 20px;
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.SinglePost .update-post-form {
  position: absolute;
  left: 0;
  right: 0;
  top: -999px;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  z-index: 99999;
}

.SinglePost .update-post-form.active {
  top: 0;
}

.SinglePost .update-post-form .input-form {
  position: relative;
  width: 70%;
  min-width: 700px;
  height: 600px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  border-radius: 35px;
  border: 3px solid #ffe300;
  transition: top 0.6s;
  top: -999px;
}

.SinglePost .update-post-form .input-content {
  display: block;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 24px;
  border-bottom: 3px solid gray;
  transition: border 0.3s;
  resize: none;
  margin-bottom: 10px;
}

.SinglePost .update-post-form .input-form.active {
  top: 0;
}

.SinglePost .update-post-form .form-title {
  margin-bottom: 20px;
}

.SinglePost .update-post-form .closer {
  color: gray;
  font-weight: 100;
  margin: 0 5px;
  cursor: pointer;
  user-select: none;
}

.SinglePost .update-post-form input {
  width: 400px;
  height: 50px;
  display: block;
}
