.PostsList {
  margin-top: 10px;
}

.PostsList .Post {
  padding: 5px 0;
}

.PostsList .header {
  font-weight: bold;
}

.PostsList a {
  color: black;
  text-decoration: none;
}

.PostsList .Post:hover {
  background-color: #dcdcdc;
}

.PostsList .Post,
.PostsList .header {
  display: grid;
  grid-template-columns: 10% 15% 45% 15% 15%;
  min-height: 40px;
  border-bottom: 1px solid gray;
  align-items: center;
}

.PostsList .Post .date,
.PostsList .header .date,
.PostsList .Post .id,
.PostsList .header .id {
  text-align: center;
}
